{% extends generator.layoutTheme |default('ThemeBootstrapBundle')  ~ '::layout.html.twig' %}
{% block title %}{{ generator.edit.title | trans }} {% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ generator.edit.title | trans }}
            <small>
                {% trans %}or{% endtrans %} <a href="{{ path(generator.route) }}">{% trans %}go back to list{% endtrans %}</a>
            </small>
        </h1>
    </div>

    <form action="{{ path(generator.route ~ '_update', { 'id': record.id }) }}" method="post" {{ form_enctype(form) }}>

        {% for fieldName, field in generator.editDisplayFields %}
            {% block form %}{% endblock %}
            {% include 'GpupoCamelSpiderBundle:Subscription:_form.html.twig' %}
        {% endfor %}
        {{ form_row(form._token) }}

        <div class="actions">
            <button type="submit" class="btn primary" name="form_save" value="true">{% trans %}Save{% endtrans %}</button>&nbsp;
            <a href="{{ path(generator.route) }}" class="btn">
                {% trans %}Back to List{% endtrans %}
            </a>
            <a href="{{ path(generator.route ~ '_delete', { 'id': generator.renderField('id', record)}) }}" class="btn"
               onclick="javascript:deleteSubscription('{% trans %}Are you sure you want to delete:<br/>{% endtrans %}{{ record }} ', this, 'form[_token]', $('#form__token').val());return false;">
                {% trans %}Delete{% endtrans %}
            </a>
        </div>

    </form>

    <!-- Hidden form to submit Deletion -->
    {% include 'GpupoCamelSpiderBundle:Subscription:_delete_form.html.twig' %}

{% endblock %}